<%@ page language="java" contentType="text/html; charset=UTF-8" pageEncoding="UTF-8"%>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">导航</h4>
            <ul class="list-unstyled">
              <li><a href="text.html">关于我们</a></li>
              <li><a href="text.html">说明和条款</a></li>
              <li><a href="faq.html">帮助</a></li>
              <li><a href="contact.html">联系我们</a></li>
            </ul>
            <hr>
            <h4 class="mb-3">用户选项</h4>
            <ul class="list-unstyled">
              <li><a href="#" data-toggle="modal" data-target="#login-modal">登录</a></li>
              <li><a href="register.html">注册</a></li>
            </ul>
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">分类</h4>
            <h5>特价</h5>
            <ul class="list-unstyled">
              <li><a href="category.html">治愈</a></li>
              <li><a href="category.html">小说</a></li>
              <li><a href="category.html">社会科学</a></li>
              <li><a href="category.html">心理</a></li>
              <li><a href="category.html">计算机</a></li>
            </ul>
            <h5>满减</h5>
            <ul class="list-unstyled">
              <li><a href="category.html">治愈</a></li>
              <li><a href="category.html">小说</a></li>
              <li><a href="category.html">社会科学</a></li>
              <li><a href="category.html">心理</a></li>
              <li><a href="category.html">计算机</a></li>
            </ul>
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">我们在哪里</h4>
            <p><strong>qing书店</strong><br>岳麓大道569<br>湖南工商大学<br>长沙<br>湖南<br><strong>中国</strong></p><a href="contact.html">联系我们</a>
            <hr class="d-block d-md-none">
          </div>
          <!-- /.col-lg-3-->
          <div class="col-lg-3 col-md-6">
            <h4 class="mb-3">获取推送</h4>
            <p class="text-muted">关注或订阅我们</p>
            <form>
              <div class="input-group">
                <input type="text" class="form-control" ><span class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary">订阅!</button></span>
              </div>
              <!-- /input-group-->
            </form>
            <hr>
            <h4 class="mb-3">保持联系</h4>
            <p class="social"><a href="#" class="facebook external"><i class="fa fa-facebook"></i></a><a href="#" class="twitter external"><i class="fa fa-twitter"></i></a><a href="#" class="instagram external"><i class="fa fa-instagram"></i></a><a href="#" class="gplus external"><i class="fa fa-google-plus"></i></a><a href="#" class="email external"><i class="fa fa-envelope"></i></a></p>
          </div>
          <!-- /.col-lg-3-->
        </div>
        <!-- /.row-->
      </div>
      <!-- /.container-->
    </div>
    <!-- /#footer-->
    <!-- *** FOOTER END ***-->
    <script src="/bookstore/vendor/jquery/jquery.min.js"></script>
    <script src="/bookstore/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/bookstore/vendor/jquery.cookie/jquery.cookie.js"> </script>
    <script src="/bookstore/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/bookstore/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.js"></script>
    <script src="/bookstore/js/front.js"></script>